.mainContainer {
  background-color: whitesmoke;
}

.title{
  color: #2bbd7e;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title2{
  color: #2bbd7e;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title3{
  color: #2bbd7e;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}