  .header {
    background-color: #2bbd7e;
    height: 150px;
    padding: 20px;
    color: white;
    position: relative;
  }
  
  .headAlign{
    display: inline;
  }
  
  .name{
    font-weight: bold;
    width: 45%;
  }
  
  .icon{
    width: 40px;
    border-radius: 20px;
    margin: 10px;
  }
  
  .icon:hover{
    background-color: #69f0ae;
  }
  
  .redes{
  position: absolute;
  right: 5%;
  top: 20%; 
  }
  
  a{
    text-decoration: none;
  }
  
