.cuerpo{
    background-color: whitesmoke;
}

.cuerpo{
    background-color: white;
 
    width: 60%;
    position: absolute;
    top: 550px;
    left: 20%;
    display: flex;
    justify-content: space-around;
    border: solid seagreen;
}

.descripcion{
    width: 50%;
    text-align: justify;
    margin: 10px;
}


.progresos{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;

}

progress{
width: 90%;
color: seagreen;
margin: 10px;
}

.pepe{
    width: 90%;
    display: flex;
    justify-content: space-between;
}