/*
* {
	margin: 0;
}
*/
* {
	box-sizing: border-box;
}

header {
	background: black;
	text-align: center;
	margin-top: 5%;
	height: 110px;
}

a {
	color: white;
	text-decoration: none;
}
img {
	vertical-align: middle;
}

.text {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
	padding: 40px;
}

.links {
	text-align: center;
}


.pink {
	background: #bf00ff;
}

.margen{
	margin-right: 5%;
	margin-left: 5%;
}

section div.ancho {
	margin: 9px;
	width: 46%;
	height: 400px;
	display: inline-block;
	padding: 10px; 
}

nav ul li{
	display: inline-block;
	margin-right: 40px;
	background: orange;
	font-size: 1.3em;
}

section div.centro {
	background: blue;
	display: inline-block;
	width: 93.8%;
	height: 100px;
	margin: 10px;
	padding: 10px;
}

section div.base{
background: green;
width: 30%;
height:400px;
display: inline-block;
margin: 9px; 
padding: 10px;
 }

#dog{
	height: 90px;
	width: 90px;
	float: right;
	vertical-align: middle;
	padding: 10px, auto;
}

#dog1{
	width: 100px;	
	height: 100px;
	float: right;
	padding: 10px;
}

#dog2{
	width: 100px;	
	height: 100px;
	float: left;
	padding: 10px;
}

footer div.bottom {
	background: yellow;
	display: inline-block;
	width: 94%;
	height: 150px;
	margin: 10px;
	padding: 10px;
}

#mapa{
	height: 120px;
	width: 120px;
	position: absolute;
	left: 8%;
	vertical-align: middle;
	padding: 10px, auto;
}