extends layout

block content
	form(action="/users" method="post")
		p Nombre
		input(type="text" name="nombre" id="nombre" maxlength="30" required)
		p Apellido
		input(type="text" name="apellido" id="apellido" maxlength="30" required)
		p Teléfono
		input(type="tel" name="telefono" id="telefono" pattern="^\+?\d{1,3}?[- .]?\(?(?:\d{2,3})\)?[- .]?\d\d\d[- .]?\d\d\d\d$" required)
		p Mail
		input(type="email" name="email" id="email" required)
		input(type="submit")